mixin dateDropDown(text_start,text_finish,placeholder,value_start,value_finish)
    form(action="#" class="data-dropdown")
        div
            h3=text_start
            input(type="text" class="form-input data-drop" placeholder=placeholder value=value_start)
        div
            h3=text_finish
            input(type="text" class="form-input data-drop" placeholder=placeholder value=value_finish)
+dateDropDown("date dropdown","date dropdown","ДД.ММ.ГГГГ","","19.08.2019")